* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #EEEEEE;
    --color2: #32E0C4;
    --color3: #0D7377;
    --color4: #212121;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color4);
    background-color: var(--color1);
}
/* Start of Header */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: var(--color4);
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    background-color: var(--color2);
    padding: 0 20px 0 60px;
    margin-left: -33px;
}

header a {
    text-decoration: none;
    color: var(--color4);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.55vw;
    color: var(--color2);
    text-decoration: underline;
    text-underline-position: under;
}

/* End of Header */

/* Start of Hero */
#grad {
    height: 300px;
    background-image: linear-gradient(var(--color3), var(--color2));
}

.hero {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px; 
}

.hero-h2 {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-end;
    color: var(--color4);
}

.hero img {
   height: 80%;
   max-width: 100%
}

/* End of Hero */

/* Start of About Me*/
.section-title {
    width: 95%;
    display: flex;
}

.sidebar {
    font-size: 46px;
    color: var(--color3);
    
}

 .text {
     flex: 1;
     padding: 0 0 30px 100px;
 }

 /* End of About Me */

 /* Start of Work */ 
 .work-grid-wrapper {
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     margin-bottom: 30px;
     
 }

 .work-grid-container {
    width: 70%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 200px);
     grid-gap: 15px;
     padding-left: 50px;
 }

 .projects {
     text-decoration: none;
     display: flex;
 }

 .project-title {
     background-color: var(--color4);
     color: var(--color2);
     font-size: 18px;
     display:flex;
     align-items: flex-end;
     flex-wrap: wrap;
 }

 .buddy {
    background-image: url("../images/buddy.PNG");
    background-size: cover;
    width: 100%;
    grid-column: 1 / span 3;
 }

 .horiseon {
     background-image: url("../images/octo.PNG");
     background-size: cover;
     grid-column: 1 / span 3;
 }

 /* Contact Me */

 .contact {
     width: 100%;
 }
    
.contact-wrapper {
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding-left: 50px;
}

.contact-wrapper a {
    text-decoration: none;
    color: var(--color2);
}

.contact-wrapper p {
    color: var(--color2);
}
